# Ignore Python Package Files #
###############################
*.pyc

# Ignore IPython Notebook Files #
#################################
.ipynb_checkpoints/

# Ignore Images #
#################
*.tif
*.tiff
*.png
*.xcf
*.mat

# Ignore
